.boxes {
  border-top-width: 1px;
  border-color: var(--color-title-hr);

  & .box {
    border-left-width: 1px;
    border-color: var(--color-title-hr);
  }

  &:last-child {
    border-right-width: 1px;
  }
}
